<%-include('.. /header.ejs')%>
	<div class="container-fluid why">
		<div class="container">
			<div class="row">
				<div class="col-md-7 m">
					<h1>Stocks</h1><br>
					<h5>July 23rd 2022,4:53 pm</h5><br>
					<img src="https://ancient-forest-46321.herokuapp.com/blogimage/image_1658594072315.jpg"><br>
					<p>tocks and shares are collectively referred to as 'equities' or 'securities' and represent an
						ownership stake in a company. Stock markets are the place where buyers and sellers exchange
						these securities. A stock market may be physical or entirely virtual. The Bombay Stock Exchange
						(BSE) is physically located on Dalal Street in Mumbai City. Trading was traditionally done in
						person, but the option to buy/sell most stocks electronically was added later. Earlier, trading
						was initially done by telephone but is now primarily done by computer.</p>
				</div>
				<div class="col-md-5 n">
					<h2 class="bg-black text-white">Recent blogs</h2>
					<div class="row">
						<div class="col-md-5">
							<img src="https://ancient-forest-46321.herokuapp.com/blogimage/image_1658594072315.jpg">
						</div>
						<div class="col-md-7">
							<h4>Happy Couple</h4>
							<p>Posted On: Sat Jul 23 <br>2022 16:34:32 GMT+0000 <br>(Coordinated Universal Time)</p>
						</div>
					</div>
					<!--row end-->
					<div class="row">
						<div class="col-md-5">
							<img src="https://ancient-forest-46321.herokuapp.com/blogimage/image_1658595213296.jpg">
						</div>
						<div class="col-md-7">
							<h4>Stocks</h4>
							<p>Posted On: Sat Jul 23<br> 2022 16:34:32 GMT+0000 <br>(Coordinated Universal Time)</p>
						</div>
					</div>
					<!--row end-->
					<div class="row">
						<div class="col-md-5">
							<img src="https://ancient-forest-46321.herokuapp.com/blogimage/image_1658595502653.jpeg">
						</div>
						<div class="col-md-7">
							<h4>Travel</h4>
							<p>Posted On: Sat Jul 23<br> 2022 16:34:32 GMT+0000 <br>(Coordinated Universal Time)</p>
						</div>
					</div>
					<!--row end-->
					<div class="row">
						<div class="col-md-5">
							<img
								src="https://images.pexels.com/photos/4491446/pexels-photo-4491446.jpeg?auto=compress&cs=tinysrgb&w=600">
						</div>
						<div class="col-md-7">
							<h4>Programming</h4>
							<p>Posted On: Sat Jul 23<br> 2022 16:34:32 GMT+0000<br> (Coordinated Universal Time)</p>
						</div>
					</div>
					<!--row end-->
				</div>
				<!--col-md-5 end-->
			</div>
			<!--row end-->
		</div>
		<!--c end-->
	</div>
	<!--cf end-->
	<%-include('.. /footer.ejs')%>